* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 16px/1.6 'Inter', sans-serif;
    color: #757575;
    padding: 0 4%;
}

img {
    border: 2px solid #eadcdc;
}

h3 {
    color: #2f2e2e;
}

header {
    display: flex;
    align-items: center;
    padding: 30px 0;
}

hr {
    border-top: 2px solid #9a9a9a;
}

.head-info {
    padding-left: 20px;
}

.heading, .left-heading {
    font: 500 38px 'Graphik Trial', sans-serif;
    color: #2f2e2e;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.left-hero, .right-hero {
    padding-top: 20px;
}

.right-hero {
    width: 70%;
}

.right-hero {
    border-left: 2px solid #9a9a9a;
    padding-left: 40px;
}

.hero-line {
    border: 2px solid #2f2e2e;
    width: 30px;
}

.hero-section, .left-section {
    padding-top: 30px;
}

.left-heading {
    padding-top: 20px;
}

#tools-section, #skills-section {
    padding-top: 30px;
    color: #2f2e2e;

}

footer {
    border: 2px solid black;
}